<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>

<body>
<table  class="table_blur">
    <tr>
        <th colspan="4" text-align="center">Новый пользователь</th>
    </tr>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>        </th>
    </tr>
    <tr>
        <form th:method="post" th:action="@{/users}" th:object="${user}">
            <td><input type="text" th:field="*{name}" id="name"/> </td>
            <td><input type="text" th:field="*{surname}" id="surname"/> </td>
            <td><input type="text" th:field="*{age}" id="age"/> </td>
            <td><input type="submit" value="Создать"/> </td>
        </form>
    </tr>
</table>


</body>
</html>